root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:white;
  color: rgb(0, 145, 255);

}
#p {
  color: black;
}

.ul {
  color: black;
  text-align: justify;
}