#ss {
  width: 100%;
  height:250px;
  filter:brightness(50%);
  border-radius: 8px;
  position: relative;
}

.over {
  position: absolute;
  top: 20%;
  left: 19%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px #000;
}

#p {
  color: black;
}

.ul {
  color: black;
  text-align: justify;
}
.img {
  width: 500px;
  height:200px;
}

.page-container {
  max-width: 1300px;
  /* Max width for content to prevent it from stretching too wide */
  height: 300px;
  margin: 70px ;
  /* Center the content with some top/bottom margin */
  padding: 10px;
  background-color: #FFFFFF;
  /* White background for page content */
  border-radius: 15px;
  /* Slightly rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  /* Subtle shadow */
  margin-bottom: 50px;
}

#bg {
  color: black;
  background-color: aqua;
}
